# String de conexao do seu banco de dados PostgreSQL
DATABASE_URL="postgres://SEU_USUARIO:SUA_SENHA@localhost:5432/auth_db"

# Porta que o servico ira rodar
PORT="8001"

# Chave mestra para criar novas chaves de API
MASTER_KEY="admin-secreto-123"
